## Build results
bin/
obj/
[Bb]uild/
[Dd]ebug/
[Rr]elease/

## VS user-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

## Visual Studio Code
.vscode/

## Others
*.log
*.tmp
*.bak

# Backup & temp files
~$*
*.tmp
*.bak

## NuGet
*.nupkg
*.snupkg
.nuget/

## ReSharper / Rider
.idea/
*.DotSettings.user

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini

## Git folder
.git/
/.vs/MenassahApi/CopilotIndices/17.14.719.50355
/.vs/MenassahApi/FileContentIndex
/.vs/MenassahApi/v17/DocumentLayout.backup.json
/.vs/MenassahApi/v17/DocumentLayout.json
/.vs/MenassahApi/v17/.suo
/MenassahApi/wwwroot/uploads/teachers/2/profile
/.vs/MenassahApi/CopilotIndices/17.14.719.50355/CodeChunks.db
/.vs/MenassahApi/CopilotIndices/17.14.719.50355/SemanticSymbols.db
/.vs/MenassahApi/DesignTimeBuild/.dtbcache.v2
/.vs/MenassahApi/v17/.futdcache.v2
/.vs/ProjectEvaluation/menassahapi.metadata.v9.bin
/.vs/ProjectEvaluation/menassahapi.projects.v9.bin
/.vs/ProjectEvaluation/menassahapi.strings.v9.bin
/MenassahApi/wwwroot/uploads/teachers
