################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MenassahApi/CopilotIndices/17.14.719.50355
*.vsidx
